{
    "presets": ["@babel/env"],
    "plugins": [
        "@babel/plugin-transform-runtime",
        [
            "@babel/plugin-transform-parameters",
            { "loose": true }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}
